In [27]:
#importing libraries

import re 
import pandas as pd

p = re.compile('[0-9]')

In [29]:
# reading the files

database=pd.read_csv('database.csv')

In [30]:
# creating the coloumns to add
# assumption: if numbers in the email has more characters in between, it will concate all digits found in the email to op one number

NumericFound=[]
numbers=[]
for i in database.email:
    num="".join(p.findall(i))
    if(num==""):
        NumericFound.append(0)
        numbers.append('NA')
    else:        
        NumericFound.append(1)
        numbers.append(num)

In [31]:
# adding the columns

database=database.assign(NumericFound=NumericFound,numbers=numbers)

In [32]:
# after addition

database.head()

                          email  NumericFound numbers
0    wilsonraoannie@yahoo.co.in             0      NA
1             win.rao@sbi.co.in             0      NA
2           wisy.prab@gmail.com             0      NA
3        w-monali@hotmail.co.uk             0      NA
4         wolfpackno9@gmail.com             1       9
..                          ...           ...     ...
103          zedaslam@gmail.com             0      NA
104         zen_sas@hotmail.com             0      NA
105      zimmyzam2000@gmail.com             1    2000
106   zingaro_gal18@yahoo.co.in             1      18
107         ziongrg@yahoo.co.in             0      NA

[108 rows x 3 columns]

In [33]:
# saving it to result.csv

database.to_csv('result.csv',index=False)